*{
  margin: 0;
  padding: 0;
}
.app{
  &-main{
    width: 70vw;
    margin: 0 auto;
    margin-top: 60px;
    padding: 12px;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
